<div class="container">
  <h2>Welcome</h2>
  <p>Below are the clients subscribed, click on one for more details</p>
     <form>
      <input style="width:20%" class="form-control" ng-model="search" type="text" name="text" placeholder="Search">
    </form>
     <h4 style="float:right;color:red">&nbsp;{{numberOfRequests}}</h4><h4 style="float:right;">Total Requests: </h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients | filter:search">
          <td>{{client.name}}</td>
          <td>{{client.email}}</td>
          <td><button class="btn btn-primary" ng-click="showClient(client.email)">Show Details</button></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" ng-click="logout()">Logout</button>
</div>
