<div style="padding:50px">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
    <small id="emailHelp" class="form-text text-muted">Try to be short and comprehensive</small>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Description</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Select Client</label>
    <select class="form-control" id="exampleSelect1">
      <option>Client A</option>
      <option>Client B</option>
      <option>Client C</option>
    </select>
  </div>
	<div class="form-group">
	  <label for="example-number-input">Client Priority</label>
      <input class="form-control" type="number" value="1" id="example-number-input">
	</div>
	<div class="form-group">
	  <label for="example-date-input">Target Date</label>
      <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
	</div>
  <div class="form-group">
    <label for="exampleInputEmail1">Ticket URL</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Url">
    <small id="emailHelp" class="form-text text-muted">Storing any URL</small>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Product Area</label>
    <select class="form-control" id="exampleSelect1">
      <option>Policies</option>
      <option>Billing</option>
      <option>Claims</option>
      <option>Reports</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="test()">Submit</button>
</form>
</div>
