<div style="padding:50px">
<form ng-init="startUp()">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="title" class="form-control" id="exampleInputEmail1" aria-describedby="title help" placeholder="Enter title" ng-model="feature.title" required>
    <small id="emailHelp" class="form-text text-muted">Try to be short and comprehensive</small>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Description</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="feature.description" required></textarea>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Client</label>
    <select class="form-control" id="exampleSelect4" ng-model="feature.client">
      <option>{{client.name}}</option>
    </select>
  </div>
	<div class="form-group">
	  <label for="example-number-input">Client Priority</label>
      <input class="form-control" type="number" value="1" id="example-number-input" ng-model="feature.clientPriority">
	</div>
	<div class="form-group">
	  <label for="example-date-input">Target Date</label>
      <input class="form-control" type="date" value="2011-08-19" id="example-date-input" ng-model="feature.targetDate">
	</div>
  <div class="form-group">
    <label for="exampleInputEmail1">Ticket URL</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Url" ng-model="feature.ticketUrl">
    <small id="emailHelp" class="form-text text-muted">Storing any URL</small>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Product Area</label>
    <select class="form-control" id="exampleSelect1" ng-model="feature.area">
      <option>Policies</option>
      <option>Billing</option>
      <option>Claims</option>
      <option>Reports</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="sendRequest()">Submit</button>
  <span class="btn btn-primary" ng-click="logout()">Logout</span>
    <span class="btn btn-primary" ng-click="myTickets()">My Tickets</span>
</form>
</div>
