<div class="col-md-6 col-md-offset-3" ng-init="checkUser()">
    <h2 style="text-align:center">Welcome, Please Login</h2>
      <a style="background-color:lightyellow" class="btn btn-block btn-social btn-twitter" ng-click="signWithAuth('google')">
        <span class="fa fa-twitter"></span> Sign in with Google
      </a>
      <a style="background-color:lightblue" class="btn btn-block btn-social btn-twitter" ng-click="signWithAuth('facebook')">
        <span class="fa fa-twitter"></span> Sign in with Facebook
      </a>
      <a style="background-color:lightgrey" class="btn btn-block btn-social btn-twitter" ng-click="signWithAuth('github')">
        <span class="fa fa-twitter"></span> Sign in with GitHub
      </a>

</div>