<div style="margin-left:50px;margin-right:50px;" ng-init="runUp()">
  <h3 style="text-align:center"><b><i>{{features[0].client}}'s Dashboard<i><b></h3>
  <form>
    <input style="width:30%" class="form-control" ng-model="search" type="text" name="text" placeholder="Search">
    <br>
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          <a style="color:black" href="#/admin/home/{{email}}" ng-click="sortType = 'name'; sortReverse = !sortReverse">Priority&nbsp;
          <span ng-show="sortType == 'number' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'number' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a style="color:black" href="#/admin/home/{{email}}" ng-click="sortType = 'name'; sortReverse = !sortReverse">Title&nbsp;
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a style="color:black" href="#/admin/home/{{email}}" ng-click="sortType = 'name'; sortReverse = !sortReverse">Description&nbsp;
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a style="color:black" href="#/admin/home/{{email}}" ng-click="sortType = 'name'; sortReverse = !sortReverse">Target Date&nbsp;
          <span ng-show="sortType == 'number' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'number' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a style="color:black" href="#/admin/home/{{email}}" ng-click="sortType = 'name'; sortReverse = !sortReverse">URL&nbsp;
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a style="color:black" href="#/admin/home/{{email}}" ng-click="sortType = 'name'; sortReverse = !sortReverse">Area&nbsp;
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>Delete</th>
        <th ng-show="flag">Edit</th>
      </tr>
    </thead>
        <tbody id="sortable" ng-model="features">
      <tr id="selector" ng-repeat="feature in features| orderBy:sortType:sortReverse | filter:search" style="cursor:pointer;">
          <td>{{feature.clientPriority}}</td>
          <td style="width:15%">{{feature.title}}</td>
          <td style="width:50%">{{feature.description}}</td>
          <td style="width:10%">{{feature.targetDate}}</td>
          <td>{{feature.ticketUrl}}</td>
          <td>{{feature.area}}</td>
          <td>
          <a ng-click="delete(feature.clientPriority, feature.client)" class="btn btn-danger btn">
            <img src="slider/window-close.png">
          </a>
          </td>
          <td ng-show="flag">
            <a ng-click="edit(feature.clientPriority)" class="btn btn-success btn">
              <img src="slider/pencil.png">
            </a>
          </td>
      </tr>
    </tbody>
  </table>
  <button ng-show="flag" class="btn btn-primary" ng-click="goBack()">New Request</button>
  <span ng-show="flag" class="btn btn-primary" ng-click="logout()">Logout</span>
  <a ng-show="bet" class="btn btn-primary" href="#/admin/home">Back</a>
  <div id='sound'></div>
</div>
<br>
 