<div class="container" ng-init="runUp()">
  <h3><b><i>{{features[0].client}}'s Page<i><b></h3>
  <form>
    <input style="width:20%" class="form-control" ng-model="search" type="text" name="text" placeholder="Search">
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Priority</th>
        <th>Title</th>
        <th>Description</th>
        <th>Target Date</th>
        <th>URL</th>
        <th>Area</th>
        <th>Delete</th>
        <th ng-show="flag">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="feature in features | filter:search">
          <td>{{feature.clientPriority}}</td>
          <td style="width:15%">{{feature.title}}</td>
          <td style="width:50%">{{feature.description}}</td>
          <td style="width:10%">{{feature.targetDate}}</td>
          <td>{{feature.ticketUrl}}</td>
          <td>{{feature.area}}</td>
          <td>
          <a ng-click="delete(feature.clientPriority, feature.client)" class="btn btn-danger btn">
            <span class="glyphicon glyphicon-minus"></span>
          </a>
          </td>
          <td ng-show="flag">
            <a ng-click="edit(feature.clientPriority)" class="btn btn-success btn">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" ng-click="goBack()">Back</button>
</div>